apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-jqb3
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-jqb3
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-jqb3
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-jqb3
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-jqb3
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-yyhg-tenant/rhtap-demo-app/hacbs-test-project-jqb3@sha256:e8e89fb6292c482fec45e7bbaa6950bdc269c594ec7d1eecbf4cbaa952b18751
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
